<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="usta">

    <link rel="stylesheet" href="/hizmet2.css">
    <link rel="icon" href="/logo.png">
    <title> Site İsmi </title>
  </head>
  <body>
    <div id="bekle">
      <img id="bekleme" src="/bekleme.gif">
      <h2 id="yukleniyor"> Yükleniyor </h2>
    </div>

    <div id="komple">
      <div id="panel">
        <a href="/anasayfa"><img id="logo" src="/logo2.png"></a>
        <div id="sayfalar" onclick="sayfalar()">
          <h4 id="isaret">≡</h4>
        </div>
        <div id="sayfa" style="display: none;">
          <a href="/hakkimizda"><h3>HAKKIMIZDA</h3></a>
          <a href="/hizmetler"><h3>HİZMETLER</h3></a>
        </div>
      </div>
      
      <% if (veri != "") { %>
        <% if (veri.dosyalar != "") { %>
          <div id="slide">
            <% for (var i = 1; i < veri.dosyalar.split('/').length; i++) {   %>
              <a href="/<%= veri.dosyalar.split('/')[i] %>"><img id="resim" src="/<%= veri.dosyalar.split('/')[i] %>" onerror="this.style.display='none';"></a>
            <% } %>
          </div>

          <div id="kaydirma">
            <div id="cerceve"></div>
            <div id="nokta"></div>
          </div>
          <div id="kaydirma2">
            <div id="nokta2"></div>
            <div id="el"></div>
          </div>
        <% } %>

        <div id="cizgi">
          <div id="cizgi2" onclick="odaklan(2)">
            <h3>İSİM</h3>
          </div>
          <div id="cizgi3" onclick="odaklan(3)">
            <h3>DETAY</h3>
          </div>
          <div id="cizgi4" onclick="odaklan(4)">
            <h3>ETİKET</h3>
          </div>
          <div id="cizgi5" onclick="odaklan(5)">
            <h3>TARİH</h3>
          </div>
        </div>

        <div id="form">
          <form method="POST" action="/hizmet/<%= veri.no %>">
            <textarea id="isim" name="isim" maxlength="150" onclick="odaklan(2)" autofocus><%= veri.isim %></textarea><br>
            <textarea id="detay" name="detay" maxlength="1000" onclick="odaklan(3)"><%= veri.detay %></textarea><br>
            <textarea id="etiket" name="etiket" maxlength="1000" onclick="odaklan(4)"><%= veri.etiket %></textarea><br>
            <input type="date" id="tarih" name="tarih" value="<%= veri.tarih %>" onclick="odaklan(5)"><br>
            
            <input type="submit" id="guncelle" value="GÜNCELLE" onclick="yukleme()">
          </form>
        </div>
        <div id="form">
          <form method="POST" action="/hizmet/<%= veri.no %>">
            
            <input type="submit" id="sil" value="SİL" onclick="yukleme()">
          </form>
        </div>
      <% } %>
      <% if (ileti != "") { %>
        <h3 id="ileti"><%= ileti %></h3>
      <% } %>

      <button id="yukari" onclick="enbas()">↑</button>
      
    </div>
    
    <script type="text/javascript">
      window.onload = function() {
        document.getElementById("bekle").style.display = "none";
      }
      
      function sayfalar() {
        if (document.getElementById("sayfa").style.display == "none") {
          document.getElementById("sayfa").style.display = "block";
          document.getElementById("isaret").style.fontSize = "30px";
          document.getElementById("isaret").innerText = "✕";
        }
        else {
          document.getElementById("sayfa").style.display = "none";
          document.getElementById("isaret").style.fontSize = "55px";
          document.getElementById("isaret").innerText = "≡";
        }
      }

      var slide = document.querySelector('#slide');
      slide.addEventListener('wheel', event => {
        var toLeft  = event.deltaY < 0 && slide.scrollLeft > 0;
        var toRight = event.deltaY > 0 && slide.scrollLeft < slide.scrollWidth - slide.clientWidth;

        if (toLeft || toRight) {
          event.preventDefault();
          if (event.deltaY > 0) {
            slide.scrollLeft += 150;
          }
          else {
            slide.scrollLeft += -150;
          }
        }
      });

      function yukleme() {
        document.getElementById("bekle").style.display = "block";
      }

      function odaklan(deger) {
        if (deger == 2) {
          document.getElementById("cizgi3").style.backgroundColor = "black";
          document.getElementById("cizgi4").style.backgroundColor = "black";
          document.getElementById("cizgi5").style.backgroundColor = "black";

          document.getElementById("cizgi2").style.backgroundColor = "red";
          document.getElementById("isim").focus();
        }
        else if (deger == 3) {
          document.getElementById("cizgi2").style.backgroundColor = "black";
          document.getElementById("cizgi4").style.backgroundColor = "black";
          document.getElementById("cizgi5").style.backgroundColor = "black";

          document.getElementById("cizgi3").style.backgroundColor = "red";
          document.getElementById("detay").focus();
        }
        else if (deger == 4) {
          document.getElementById("cizgi2").style.backgroundColor = "black";
          document.getElementById("cizgi3").style.backgroundColor = "black";
          document.getElementById("cizgi5").style.backgroundColor = "black";

          document.getElementById("cizgi4").style.backgroundColor = "red";
          document.getElementById("etiket").focus();
        }
        else if (deger == 5) {
          document.getElementById("cizgi2").style.backgroundColor = "black";
          document.getElementById("cizgi3").style.backgroundColor = "black";
          document.getElementById("cizgi4").style.backgroundColor = "black";

          document.getElementById("cizgi5").style.backgroundColor = "red";
          document.getElementById("tarih").focus();
        }
      }

      document.getElementById("isim").focus();
      
      var yukari = document.getElementById("yukari");
      window.onscroll = function() {scrollFunction()};
      function scrollFunction() {
        if (document.body.scrollTop > 10) {
          yukari.style.display = "block";
        }
        else {
          yukari.style.display = "none";
        }
      }
      function enbas() {
        document.body.scrollTop = 0;
      }

    </script>
  </body>
</html>